{% extends 'base.html' %} {% block content %} {% block title %}
<title>privacy policy</title>
{% endblock title %} 
<p>
 <h1> <center>Privacy Policy for IoT Platform</center></h1> 
 <h3>Introduction</h3>
 <p align="left">This Privacy Policy outlines the
  practices and policies governing the collection, use, and disclosure of
  personal information by IOT Platform we in relation to our Internet of Things
  (IoT) platform. We are committed to protecting the privacy and security of our
  users' information. By accessing or using our Platform, you consent to the
  collection, use, and disclosure of your personal information as described in
  this Privacy Policy. </p> 

  <h3>Information We Collect</h3>

  <p>1. Personal Information:
     We may collect personal information, including but not limited to your name, email
  address, contact information, when you register for an account or interact
  with our Platform.</p>
   <P>2. Usage Information: We may collect information about your
  interactions with our Platform, such as the features you use, the pages you
  visit, the actions you take, and the content you access.</P>

   <h3>Use of Information </h3>

   <p></p>1.Provide and Improve Services: We use the collected information to provide,
  personalize, and improve our Platform, including troubleshooting, analyzing
  trends, and enhancing security.</p>
   <p></p>2. Communication: We may use your contact
  information to send you administrative messages, updates, newsletters, and
  promotional materials relating to our Platform, subject to your communication
  preferences. </p>
  <p>3. Analytics: We may aggregate and anonymize the collected
  information to generate statistical and analytical insights for our internal
  use. </p>
  <p>4. Legal Compliance and Protection: We may use and disclose personal
  information as required by law, court order, or governmental regulations, and
  to protect our rights, safety, and property, or that of our users. </p>


  <h3>InformationSharing and Disclosure</h3> 

  <p>1.Service Providers: We may engage trusted third-party
  service providers to assist us in operating our Platform and perform related
  services. These providers may have access to your personal information but are
  contractually bound to maintain its confidentiality.</p>
  <P>2. Business Transfers: In
  the event of a merger, acquisition, or sale of all or a portion of our assets,
  your personal information may be transferred as part of the transaction,
  subject to standard confidentiality arrangements.</P>
  <p>3. User Consent: We may
  share your personal information with your consent or as otherwise disclosed at
  the time of data collection. Data Security We implement reasonable security
  measures to protect the confidentiality and integrity of your personal
  information. However, no data transmission over the internet or electronic
  storage system can be guaranteed to be 100% secure. Data Retention We retain
  your personal information for as long as necessary to fulfill the purposes
  outlined in this Privacy Policy, unless a longer retention period is required
  or permitted by law. Your Rights You may have the right to access, correct,
  update, or delete your personal information. You can exercise these rights by
  contacting us using the contact information provided below. Children's Privacy
  Our Platform is not intended for use by individuals under the age of 13. We do
  not knowingly collect personal information from children. If you believe that
  we have inadvertently collected personal information from a child, please
  contact us immediately. Changes to this Privacy Policy We may update this
  Privacy Policy from time to time. The updated version will be effective as of
  the date specified at the beginning of the policy. We encourage you to review
  this Privacy Policy periodically.</p> <br><br> {% endblock content %}
</p>
